:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/* Globales */
html {
    font-size: 62.5% ;
    box-sizing: border-box; /*Hack para box model */
}
*, *::before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); /*FONDO DE LA WEB DEGRADADO*/
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton {
        width: auto;
    }
}

.sombra{
    /*codigo generado por css matics solo la pusimos dentro de una clase llamada sombra*/
    -webkit-box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/* Tipografía */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;  
}
/* Titulos */
.titulo span{
    font-size: 2rem;
}
/*utiliza esta dos clases en navegacion principal y se le da un espacio y se le pone 
la clase de contenedor OJO en la clase navegacion-principal */
.contenedor {
    /*se utiliza para centrar el menu de navegacion */
    max-width: 120rem;
 /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */ 
 /*esta linea de codigo es lo mismo que las 4 lineas de codigo de arriba 
 y podes acortar en dos valores porque css ya sabe que son lo mismo 
 margin: 0 auto 0 auto es igual a 0 auto*/
    margin: 0 auto;
}

/* Navegación Principal */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {   
    display: flex;
    flex-direction: column;  
}

@media (min-width: 768px) {/*tamanho responsive para una table */
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}
/* hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: none !important;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    /* background-color: rgba(0,0,0, 0.5); sintaxis vieja*/ 
    background-color: rgb(0 0 0 / 50%); /*sintaxis nueva OJO hay que ver si soporta todos los navegadores*/
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion{
    display: flex;
    align-items: flex-end;
}

/* Servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /*dividimos en fracciones el 100% es como poner 33.3% tres veces */
        
    }
}
